$main-color: #fa9b70 !important;
$main-color-rgb: rgb(250, 155, 112);

$dark-green-color: #2d4a30 !important;
$dark-blue-color: #4547eb !important;
$mint-color: #bde1e2 !important;
$gray-color: #f6fbfb !important;
$icon-gray-color: #979797 !important;
$default-color: #ffffff;
$black-color: #000000 !important;
$black-color-rgb: rgb(0,0,0);

$warning-color: #fa1511 !important;

$mute-color: rgba(0,0,0,0.4);
