@import '../../../styles/variables.scss';

form {
  width: 100%;
  margin-bottom: 10px;
  color: #000000;
  font-size: 14px;

  .error {
    color: $warning-color;
  }

}

.login-background {
  width: 60%;
  height: 100%;
  background-image: url("/../../../../assets/backgrounds/login_bg.svg");
  background-size: 100% 100%;
}

.login {
  width: 40%;
  height: 100%;
  background-color: #ffffff;

  .forgot-password-row {
    margin-top: 12px;
    height: 14px;
    opacity: 0.69;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
  }
  .sign-up-row {
    margin-top: 38px;
  }
  .pointer {
    cursor: pointer;
  }

  input {
    display: block;
    width: 100%;
    padding: 7px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
  }

  /* Reset top and bottom margins from certain elements */
  .login-header {
    margin-top: 0;
    margin-bottom: 0;
  }

  .field-row {
    &:first-child {
      margin-bottom: 28px;
    }

  }
  .field-type {
    color: $black-color;
  }
  .required-marker {
    color: #2d4a30;
    padding-right: 5px;
  }
}

