<div class="pop-up">
  <div class="card">
      <div class="card-hotel-list">

        <div *ngFor="let hotel of hotels; let i = index" class="card-hotel-list-inner-item">
          <mat-card class="card-hotel-list-item">
            <mat-card-header>
              <mat-card-title>{{hotel.name}}</mat-card-title>
              <mat-card-subtitle>{{hotel.address.country}}, {{hotel.address.city}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{hotel.hotelImages[0] ? host+'/'+hotel.hotelImages[0].imagePath : '../../assets/icons/image.svg'}}" alt="Photo of hotel">
            <mat-card-content>
              <mat-card-subtitle>Рейтинг: {{hotel.rating}}</mat-card-subtitle>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="full-width">Деталі</button>
            </mat-card-actions>
          </mat-card>
        </div>

        <mat-paginator
          [length]="totalSize"
          [pageSize]="pageSize"
          [pageIndex]="currentPage"
          [pageSizeOptions]="[8, 16, 32, 64]"
          (page)="handlePage($event)"
          class="full-width" >
        </mat-paginator>

      </div>
  </div>
</div>
