<div class="col-12 dashboard">
  <h4 class="dashboard-page-title">Dashboard</h4>
<!--  <app-top-filter [topFilterList]="topFilterList" (setFilterSensorTypeValue)="getFilterSensorTypeValue($event)"></app-top-filter>-->

<!--  <div class="dashboard-content">-->
<!--    <div class="col-2 border-right">-->
<!--      <app-dashboard-room-filter-->
<!--              *ngIf="roomDashboardFilterList.length"-->
<!--              [roomDashboardFilterList]="roomDashboardFilterList">-->
<!--      </app-dashboard-room-filter>-->
<!--    </div>-->
<!--    <div class="col-10 pr-0">-->
<!--      <app-dashboard-rooms [roomDashboardFilterList]="dashboardRoomList" [filterBySensorType]="filterBySensorType"></app-dashboard-rooms>-->
<!--    </div>-->
<!--  </div>-->
</div>
