@import '../../styles/variables.scss';

.dashboard {
  position: relative;
  width: 100%;
  //background: $gray-color;
  &-page-title {
    color: #000000;
    font-family: Arial;
    font-size: 22px;
    font-weight: 700;
  }
  &-content {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
  }
}
