<div class="pop-up">
  <div class="user-card">
    <div class="user-card-content">
      <div class="user-card-title-row">
        <span class="user-page-title">Інформація про користувача</span>
      </div>
      <span class="user-card-splitter"></span>

      <div class="user-card-field-row">
        <span class="user-card-field">Ім'я: </span>
        <span class="user-card-field">{{currentUser.name}}</span>
      </div>
      <div class="user-card-field-row">
        <span class="user-card-field">Прізвище: </span>
        <span class="user-card-field">{{currentUser.surname}}</span>
      </div>
      <div class="user-card-field-row">
        <span class="user-card-field">Електронна адреса: </span>
        <span class="user-card-field">{{currentUser.email}}</span>
      </div>
      <div class="user-card-field-row">
        <span class="user-card-field">Номер телефону: </span>
        <span class="user-card-field">{{currentUser.phone}}</span>
      </div>
    </div>
  </div>
</div>
