<div class="pop-up">
  <div class="card">
    <mat-carousel
      timings="300ms ease-in"
      [autoplay]="false"
      interval="5000"
      color="primary"
      maxWidth="auto"
      slideHeight="400px"
      [maintainAspectRatio]="false"
      slides="{{slides.length}}"
      [loop]="true"
      [hideArrows]="false"
      [hideIndicators]="false"
      [useKeyboard]="true"
      [useMouseWheel]="false"
      orientation="ltr"
    >
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of slides; let i = index"
        [image]="slide.image"
        overlayColor="#00000040"
        [hideOverlay]="false"
      ></mat-carousel-slide>
    </mat-carousel>

    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Інформація">
        <div class="card-content">
          <div class="card-field-row">
            <span class="card-field">Назва: </span>
            <span class="card-field">{{hotel.name}}</span>
          </div>
          <div class="card-field-row">
            <span class="card-field">Електронна адреса: </span>
            <span class="card-field">{{hotel.phone}}</span>
          </div>
          <div class="card-field-row">
            <span class="card-field">Рейтинг: </span>
            <span class="card-field">{{hotel.rating}}</span>
          </div>
          <div class="card-field-row">
            <span class="card-field">Опис: </span>
            <span class="card-field">{{hotel.description}}</span>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Адреса">
        <div class="card-content">
          <div class="card-field-row">
            <span class="card-field">Країна: </span>
            <span class="card-field">{{hotel.address.country}}</span>
          </div>
          <div class="card-field-row">
            <span class="card-field">Область: </span>
            <span class="card-field">{{hotel.address.state}}</span>
          </div>
          <div class="card-field-row">
            <span class="card-field">Місто: </span>
            <span class="card-field">{{hotel.address.city}}</span>
          </div>
          <div class="card-field-row">
            <span class="card-field">Вулиця: </span>
            <span class="card-field">{{hotel.address.street}}</span>
          </div>
          <div class="card-field-row">
            <span class="card-field">Код: </span>
            <span class="card-field">{{hotel.address.zip}}</span>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Кімнати">

        <div class="card-content">
          <div class="card-title-row">
            <span class="company-page-title">Список кімнат</span>
            <button mat-button class="mat-focus-indicator mat-button mat-button-base" *ngIf="user.companyId === hotel.companyId">
              <span class="pointer" routerLink="/createRoom">Додати кімнату</span>
            </button>
          </div>
          <div *ngFor="let room of hotel.rooms; let i = index" class="card-item-row">
            <div class="card-field-row">
              <div>
                <span class="card-field">Назва: </span>
                <span class="card-field">{{room.name}}</span>
              </div>
              <div>
                <span class="card-field">Тип: </span>
                <span class="card-field">{{room.roomType}}</span>
              </div>
            </div>
            <div class="card-field-row">
              <div>
                <span class="card-field">Місткість: </span>
                <span class="card-field">{{room.roomCapacity}}</span>
              </div>
              <div>
                <span class="card-field">Ціна: </span>
                <span class="card-field">{{room.pricePerDay}}$</span>
              </div>
            </div>
            <div class="card-field-row">
              <span class="card-field">Опис: </span>
              <span class="card-field">{{room.description}}</span>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Замовлення">
        <div class="card-content">
          <form [formGroup]="createOrderForm">
            <div class="field-row">
              <mat-form-field class="full-width">
                <mat-label>
                  <span class="required-marker">*</span>
                  Date range
                </mat-label>
                <mat-date-range-input [formGroup]="createOrderForm" [rangePicker]="picker">
                  <input matStartDate placeholder="Start date" formControlName="startTime">
                  <input matEndDate placeholder="End date" formControlName="endTime">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>

                <mat-error *ngIf="createOrderForm.get('startTime').hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="createOrderForm.get('endTime').hasError('matEndDateInvalid')">Invalid end date</mat-error>
              </mat-form-field>
            </div>
            <div class="field-row">
              <mat-form-field class="full-width">
                <mat-label>
                  <span class="required-marker">*</span>
                  Rooms
                </mat-label>
                <mat-chip-list #chipList aria-label="Fruit selection">
                  <mat-chip
                    *ngFor="let room of rooms"
                    [selectable]="true"
                    [removable]="true"
                    (removed)="remove(room)">
                    {{room}}
                    <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                  </mat-chip>
                  <input
                    #roomInput
                    placeholder="Add room..."
                    [formControl]="roomCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let room of filteredRooms | async" [value]="room">
                    {{room}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="field-row">
              <mat-form-field class="full-width">
                <mat-label>
                  <span class="required-marker">*</span>
                  Description
                </mat-label>
                <textarea matInput formControlName="description"></textarea>
              </mat-form-field>
              <div *ngIf="isSubmitted && createOrderForm.get('description').hasError('required')" class="help-block"
                   [ngClass]="{'error': createOrderForm.get('description').hasError('required')}">
                <span>Description is required</span>
              </div>
            </div>

          </form>

          <div class="pop-up-card-footer">
            <button mat-flat-button color="primary" [disabled]="createOrderForm.invalid" (click)="createOrder()">
              <span>Send</span>
            </button>
          </div>

        </div>
      </mat-tab>
      <mat-tab label="Відгуки"> Content 3 </mat-tab>
    </mat-tab-group>


  </div>
</div>
