<div class="pop-up">
  <div class="sign-up-background"></div>

  <div class="pop-up-card sign-up">
    <div class="pop-up-card-logo-block">
      <div class="pop-up-card-logo"></div>
    </div>

    <div class="pop-up-card-content">
      <h5 class="card-title">Create Account</h5>
      <form [formGroup]="signUpForm">
        <div class="field-row">
          <mat-form-field class="full-width">
            <mat-label>
              <span class="required-marker">*</span>
              Name
            </mat-label>
            <input matInput type="text" formControlName="name">
          </mat-form-field>
          <div *ngIf="isSubmitted && signUpForm.get('name').hasError('required')" class="help-block"
               [ngClass]="{'error': signUpForm.get('name').hasError('required')}">
            <span>Name is required</span>
          </div>
        </div>
        <div class="field-row">
          <mat-form-field class="full-width">
            <mat-label>
              <span class="required-marker">*</span>
              Surname
            </mat-label>
            <input matInput type="text" formControlName="surname">
          </mat-form-field>
          <div *ngIf="isSubmitted && signUpForm.get('surname').hasError('required')" class="help-block"
               [ngClass]="{'error': signUpForm.get('surname').hasError('required')}">
            <span>Surname is required</span>
          </div>
        </div>
        <div class="field-row">
          <mat-form-field class="full-width">
            <mat-label>
              <span class="required-marker">*</span>
              Email
            </mat-label>
            <input matInput type="email" formControlName="email">
          </mat-form-field>
          <div *ngIf="isSubmitted && signUpForm.get('email').hasError('required')" class="help-block"
               [ngClass]="{'error': signUpForm.get('email').hasError('required')}">
            <span>Email is required</span>
          </div>
        </div>
        <div class="field-row">
          <mat-form-field class="full-width">
            <mat-label>
              <span class="required-marker">*</span>
              Phone
            </mat-label>
            <input matInput type="text" formControlName="phone">
          </mat-form-field>
          <div *ngIf="isSubmitted && signUpForm.get('phone').hasError('required')" class="help-block"
               [ngClass]="{'error': signUpForm.get('phone').hasError('required')}">
            <span>Phone is required</span>
          </div>
        </div>
        <div class="field-row">
          <mat-form-field class="full-width">
            <mat-label>
              <span class="required-marker">*</span>
              Password
            </mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
          <div *ngIf="isSubmitted && signUpForm.get('password').hasError('required')" class="help-block"
               [ngClass]="{'error': signUpForm.get('password').hasError('required')}">
            <span>This field is required</span>
          </div>
          <mat-error
            *ngIf="signUpForm.get('password').value.length > 0 && signUpForm.get('password').hasError('minlength')">
            At least 6 symbols are required.
          </mat-error>
        </div>
        <div class="field-row">
          <mat-form-field class="full-width">
            <mat-label>
              <span class="required-marker">*</span>
              Confirm Password
            </mat-label>
            <input matInput type="password" formControlName="confirmPassword">
          </mat-form-field>
          <div *ngIf="isSubmitted && signUpForm.get('confirmPassword').hasError('required')" class="help-block"
               [ngClass]="{'error': signUpForm.get('confirmPassword').hasError('required')}">
            <span>This field is required</span>
          </div>
          <div *ngIf="signUpForm.get('confirmPassword').hasError('mustMatch')" class="help-block"
               [ngClass]="{'error': signUpForm.get('confirmPassword').hasError('mustMatch')}">
            Make sure your passwords match.
          </div>
        </div>
        <div class="field-row-checkbox">
          <label class="field-type">
            Manager access
          </label>
          <input type="checkbox" formControlName="managerAccess" class="form-checkbox">
        </div>
      </form>
    </div>

    <div class="pop-up-card-footer">
      <button mat-flat-button color="primary" [disabled]="signUpForm.invalid" (click)="createAccount()">
        <span>Send</span>
      </button>
      <div class="pop-up-card-footer__double sign-in-row">
        <span class="pointer" routerLink="/sign-in">I have an account?</span>
        <span class="pointer" routerLink="/sign-in">Sign In Now</span>
      </div>
    </div>
  </div>
</div>
